ul.projects(ng-controller='ProjectListCtrl')
  li.project(ng-repeat='(name, project) in projects')
    .info
      a(href='/{{project.author}}')
        img.avatar(ng-src='{{users[project.author].avatar}}')
      div
        a.title(href='/{{project.author}}/{{name}}') {{project.title}}
        span.author
          | by&nbsp;
          a(href='/{{project.author}}') {{project.author}}
    a(href='/{{project.author}}/{{name}}')
      img.image(ng-src='{{project.image}}')
    .social
      include ./likes.jade
      a.comments(href='{{project.author}}/{{name}}#comments',
        title='View comments')
        span.fa.fa-comments
        | &nbsp;{{project.comments}}
