ul.projects(ng-controller='ProjectListCtrl')
  li.project(ng-repeat='(name, project) in projects')
    a(href='/{{project.owner}}/{{name}}')
      .title {{project.title}}
      img.image(ng-src='{{project.image}}')
    .info
      a.owner(href='/{{project.owner}}',
        title="View {{project.owner}}'s profile")
        | by <span>{{project.owner}}</span>
      include ./likes.jade
      a.comments(href='{{project.owner}}/{{name}}#comments',
        title='View comments')
        span.fa.fa-comments
        | &nbsp;{{project.comments}}
