ul.projects(ng-controller='ProjectListCtrl')
  li.project(ng-repeat='(name, project) in projects')
    a(href='/{{project.author}}/{{name}}')
      .title {{project.title}}
      img.image(ng-src='{{project.image}}')
    .info
      a.author(href='/{{project.author}}',
        title="View {{project.author}}'s profile")
        | by <span>{{project.author}}</span>
      include ./likes.jade
      a.comments(href='{{project.author}}/{{name}}#comments',
        title='View comments')
        span.fa.fa-comments
        | &nbsp;{{project.comments}}
