ul.things(ng-controller='ThingListCtrl')
  li.thing(ng-repeat='(name, thing) in things')
    a(href='/{{thing.owner}}/{{name}}')
      .title {{thing.title || name}}
      img.image(ng-if='thing.image' ng-src='{{thing.image}}')
      .image.missing(ng-if='!thing.image')
        .fa.fa-image
    .info
      a.owner(href='/{{thing.owner}}',
        title="View {{thing.owner}}'s profile")
        | by <span>{{thing.owner}}</span>
      include ./stars.jade
      a.comments(href='{{thing.owner}}/{{name}}#comments',
        title='View comments')
        span.fa.fa-comments
        | &nbsp;{{thing.comments}}
