[Unit]
Description=Buildbotics Server
After=network.target

[Service]
User=buildbotics
ExecStart=/usr/bin/buildbotics --config /etc/buildbotics/config.xml
WorkingDirectory=/var/run/buildbotics
Restart=on-failure

[Install]
WantedBy=multi-user.target
