page_width = 960px
header_height = 48px
header_button_size = 32px
nav_padding = 8px

#header
  a
    text-decoration: none
    outline: 0
    color: #333
    &:hover
      opacity: 0.7
    padding-bottom: 0 !important

  .navbar-nav > li > a
    padding: nav_padding 0

  .navbar-contents
    max-width: page_width
    margin: auto

  .title
    font-size: header_button_size

  .avatar
    margin-right: nav_padding

  .fa
    font-size: 26pt
    margin: 0 nav_padding

  .google
    color: #cc3d2d

  .facebook
    color: #2b3990

  .twitter
    color: #27aae1

  .github
    color: #1c75bc

.avatar
  border-radius: 5px
  width: header_button_size
  height: header_button_size

#content
  max-width: page_width
  margin: auto
  margin-top: 60px

.home-page
  .actions
    max-width: 600px
    margin: auto
    margin-top: 100px

    .panel
      float: left
      width: 180px
      height: 180px
      margin: 10px

    .panel-heading
      text-align: center
      font-weight: bold
      font-size: 150%

project_width = 300px
project_highlight = #888
project_border = 2px solid #eee
project_highlight_border = 2px solid #aaa

.flexbox .projects
  display: flex
  flex-wrap: wrap
  justify-content: space-around

  .project
    flex: 0 0 project_width

.projects
  list-style: none
  padding: 0

  a
    text-decoration: none

  .project
    position: relative
    display: inline-block
    margin: 8px
    width: project_width
    border: project_border
    border-radius: 4px
    overflow: hidden
    cursor: pointer

    &:hover
      border: project_highlight_border

    .avatar
      margin: 5px
      display: block
      position: absolute
      border: 2px solid #eee
      width: header_button_size + 4
      height: header_button_size + 4

      &:hover
        border: 2px solid #aaa

    .info
      margin-top: 2px
      padding-left: 5px
      width: 160px
      display: block
      position: absolute
      left: 40px
      color: white
      overflow: hidden
      text-overflow: ellipsis
      text-shadow: 1px 1px #666

      .title
        font-weight: bold

      .author
        font-size: 10pt

    .title, .author, .likes, .comments
      display: block
      white-space: nowrap

    .likes, .comments
      color: project_highlight
      width: (project_width / 3)
      margin: 10px
      text-align: center
      font-size: 14pt

    .fa
      font-size: 16pt

    .likes
      float: left

    .comments
      float: right

    .user-likes
      color: #1574ce
