page_width = 960px
header_height = 48px
header_button_size = 32px
nav_padding = 8px

highlight_color = #fdaa4d
link_color = #e5aa3d
header_color = #ddd
header_bg = #666
header_hover_color = #333
header_hover_bg = #ddd
header_border_color = #888
page_color = #fafafa
text_color = #444
text_color = #344
light_text_color = #888
border_color = #aaa

[ng\:cloak], [ng-cloak], .ng-cloak
  display: none !important

a, a:visited
  color: link_color

a:hover, a:focus
  text-decoration: underline
  text-decoration-color: border_color

body
  background-color: page_color
  overflow-y: scroll

#header
  background-color: header_bg
  box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.8)
  border: 0
  border-radius: 0

  .banner
    height: 54px
    margin: 0

  .title
    padding 0

  .navbar-contents
    max-width: page_width
    margin: auto

  .navbar-text
    margin: 15px 6px

  a
    text-decoration: none
    outline: 0
    color: header_color

  .nav, .navbar-nav
    margin-left: 0

  .navbar-header > li > a
    border-radius: 4px

  .navbar-nav, .navbar-header
    > li > a:hover
      color: header_hover_color
      background-color: header_hover_bg

  .nav-pills > li > a
    line-height: 1em
    padding-right: 10px
    padding-left: 10px

  .navbar-collapse
    padding-left: 0
    padding-right: 14px

  .navbar-nav .dropdown > a
    padding-top: 10px
    padding-bottom: 10px

  .dropdown.open a
    color: header_hover_color

  .navbar-header
    font-size: 18pt

  .navbar-right li > a.icon
    padding-top: 8px

  .navbar-form
    line-height: 2.5em
    padding: 0 0 0 15px

    .form-control
      width: 95%

  .dropdown-toggle
    margin-left: 0
    border-left: 1px solid header_border_color
    border-right: 1px solid header_border_color
    height: 54px

  .dropdown
    cursor: pointer

    a
      padding-right: 0

    .fa
      font-size: 16pt
      margin-right: 0.3em
      width: 24px

    .avatar, .user-info, .marker
      float: left

    .avatar
      margin-top: 4px

    .user-info
      margin-top: -2px
      text-align: center

    .marker
      float: right
      margin-top: 20px
      margin-right: 0

    .badges, .points
      margin: 0 0.3em

    .badges, .badges .fa, .points, .points .fa
      width: auto
      font-size: 10pt

    .badges .fa, .points .fa
      color: highlight_color

  .dropdown-menu
    background-color: header_hover_bg

  .dropdown-menu > li > a:hover
    background-color: page_color

  .login-dropdown
    font-weight: bold

    a.dropdown-toggle
      padding-top: 15px

    .marker
       margin-top: 15px

  .login-menu
    .fa
      font-size: 24pt
      margin-left: 6px

    a.login
      margin-top: 6px
      padding: 5px 0

    a.google
      color: #cc3d2d

    a.facebook
      color: #2b3990

    a.twitter
      color: #27aae1

    a.github
      color: #1c75bc

  .form-control, .btn-default
    background-color: page_color

  .form-control
    border-radius: 20px
    height: header_height - 18

  .avatar
    display: inline-block
    margin-right: nav_padding


.avatar
  border-radius: 5px
  width: header_button_size
  height: header_button_size

#content
  max-width: page_width
  margin: 0.75em auto auto

.home-page
  .actions
    max-width: 600px
    margin: auto
    margin-top: 100px

    .panel
      float: left
      width: 180px
      height: 180px
      margin: 10px

    .panel-heading
      text-align: center
      font-weight: bold
      font-size: 150%

a.likes
  color: light_text_color
  cursor: pointer

.likes .user-likes
  color: highlight_color


project_width = 300px

.flexbox .projects
  display: flex
  flex-wrap: wrap
  justify-content: space-around

  .project
    flex: 0 0 project_width

.projects
  list-style: none
  padding: 0

  .project
    position: relative
    display: inline-block
    margin: 0 8px 1em 8px
    width: project_width
    overflow: hidden
    cursor: pointer
    font-family: "Times New Roman", Times, serif
    font-size: 18pt

    .image
      min-width: project_width
      height: ((project_width) / 1.618)
      border-radius: 6px
      padding: 2px
      border: 1px solid page_color

    a:hover
      .image
        border: 1px solid border_color

    .info
      margin: 0 0.2em

    .avatar
      margin: 0.1em 0.25em 0 0
      display: inline-block
      width: header_button_size + 2
      height: header_button_size + 2

    .author
      white-space: nowrap
      color: text_color

      span
        color: link_color

    .title, .author, .likes, .comments
      display: block
      white-space: nowrap

    .likes, .comments
      font-size: 18pt
      margin: 0 0.1em 0 0.5em
      color: light_text_color

      &:hover
        color: text_color

    .fa
      font-size: 16pt

    .author
      float: left

    .likes
      float: right

    .comments
      float: right

    .title
      margin: 0 0.2em
      clear: both
      color: text_color

#user
  .picture
    width: 200px
    height: 200px
    border-radius: 5px

  .name
    font-weight: bold
